* {
	box-sizing: border-box;
}

body {
	font-family: Times New Roman, Times, serif;
}
/*Set style for <header> area*/
header {
	position:relative;
	display: grid;
	grid-template-columns: 150px auto;
	grid-template-rows: 95px 50px;
}

h1 {
	font-size: 50px;
	padding: 0 10px;
	
}

/*Set style for logo*/
#logo {
	grid-row-start: 1;
	grid-row-end: -1;
	width: 156px;
	height: 156px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.7);
	border-botom: 0;
}

/*Set style for navigation bar*/
header nav {
		grid-column-start: 2;
}

nav ul {
	width: 99.7%;
	position: relative;
	left: 3px;
	bottom: 2px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.7);
	list-style: none;
	background-color: #4E74FF;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	background-color: #4E74FF;
	
}

nav ul li a {
	text-decoration: none;
	display: block;
	color: black;
}

nav ul li a:hover { /*pseudo hover must come after visited */
	background-color: #4ECDFF;
}

/*Set styles for dropdown menu in navigation bar*/
.dropbtn {
    background-color: #4E74FF;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: none;
	font-family: 'Milonga';
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4E74FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.7);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #4ECDFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #4ECDFF;}

#welcome {
	padding: 10px;
}

/*Set styles for <footer> element */
footer {
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.7);
	background-color: #4E74FF;
	color: black;
	height: 10vh;
	min-height: 6em;
	padding: .5em 2em;
	margin: 1em;
}

footer p {
	text-align: center;
}

footer a {
	display: inline;
	text-align: center;
	color: blue;
}